:9080 {
  handle /css/socialsim/api/* {
      uri strip_prefix /css/socialsim/api
      reverse_proxy localhost:9081
  }

  handle /css/socialsim/* {
      uri strip_prefix /css/socialsim
      root * ./dist
      try_files {path} /index.html
      file_server
  }
}
