{
	admin :2020
}

:{$LISTEN_PORT} {
	log {
		level debug
	}

	# reverse proxy for api
	handle {$LISTEN_PREFIX}/api/* {
		uri strip_prefix {$LISTEN_PREFIX}
		reverse_proxy localhost:{$BACKEND_PORT}
	}

	# static website
	handle {$LISTEN_PREFIX}/* {
		root * ./dist
		uri strip_prefix {$LISTEN_PREFIX}
		try_files {path}/index.html
		file_server
	}
}
